{% extends 'base.html.twig' %}
{% form_theme formMedicament _self %}
{% block title %}Gestion Medicaments{% endblock %}
{% block body %}
    <div class="valign-wrapper">
        <div class="row">
            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">
                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Familles
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">
                                        {{nbfamilles}}</span>
                                </h4>
                            </div>
                            <div class="col s5"></div>
                        </div>
                        <div class="row">
                            <a href="{{path('famille')}}">
                                <div class="card-image tooltipped" data-position="left" data-tooltip="Afficher les familles">
                                    <ul class="collection black-text">
                                        <section class="famille">
                                            {% for famille in familles %}
                                                {% if loop.index0 < 10 %}
                                                    <li class="collection-item">
                                                        {{famille.NomFamille}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5" href="#modalajouterfam">
                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">
                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Médicaments
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">
                                        {{nbmedicaments}}</span>
                                </h4>
                            </div>
                            <div class="col s5"></div>
                        </div>
                        <div class="row">
                            <a href="{{path('medicament')}}">
                                <div class="card-image tooltipped" data-position="bottom" data-tooltip="Afficher les médicaments">
                                    <ul class="collection black-text">
                                        <section class="medicament">
                                            {% for medicament in medicaments %}
                                                {% if loop.index0 < 10 %}
                                                    <li class="collection-item">
                                                        {{medicament.NomCommercial}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5" href="#modalajoutermed">
                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">
                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Composants
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">
                                        {{nbcomposants}}</span>
                                </h4>
                            </div>
                            <div class="col s5"></div>
                        </div>
                        <div class="row">
                            <a href="{{path('composant')}}">
                                <div class="card-image tooltipped" data-position="right" data-tooltip="Afficher les composants">
                                    <ul class="collection black-text">
                                        <section class="composant">
                                            {% for composant in composants %}
                                                {% if loop.index0 < 10 %}
                                                    <li class="collection-item">
                                                        {{composant.NomComposant}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5" href="#modalajoutercom">
                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal FAMILLE bite-->
        <div class="modal bottom-sheet" id="modalajouterfam">
            <div class="modal-content container">
                <h4 class="center">Ajouter Famille</h4>
                <div class="row">
                    {{ form_start(formFamille) }}
                    <div class="input-field col s9">
                        {{ form_widget(formFamille.NomFamille, {'attr': {'class': 'validate',}}) }}
                        {{ form_label(formFamille.NomFamille) }}
                    </div>
                    <div class="input-field col s3">
                        <button class="btn waves-effect blue darken-3" onclick="valid(this)" type="submit">
                            Ajouter famille
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                    {{ form_end(formFamille) }}
                </div>
            </div>
        </div>
        <!-- Modal MEDICAMENT-->
        <div class="modal" id="modalajoutermed" style="height:75%;">
            <div class="modal-content container">
                <h4 class="center">Ajouter Medicament</h4>
                {{ form_start(formMedicament) }}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(formMedicament.NomCommercial) }}
                        {{ form_label(formMedicament.NomCommercial) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_widget(formMedicament.famille,{'attr' : {'class': ' blue darken-3',}}) }}
                        {# {{ form_label(formMedicament.famille, 'Choisir une famille') }} #}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ form_widget(formMedicament.PrixEchantillon, {'attr': {'class': 'required',}}) }}
                        {{ form_label(formMedicament.PrixEchantillon) }}</div>
                    <div class="input-field col s4">
                        {{ form_widget(formMedicament.ContreIndication) }}
                        {{ form_label(formMedicament.ContreIndication) }}</div>
                    <div class="input-field col s4">
                        {{ form_widget(formMedicament.Effet) }}
                        {{ form_label(formMedicament.Effet) }}</div>
                </div>
                <div id="divAddComposant"></div>
                <div class="row center" id="submitMedicament">
                    <div class="input-field col s12">
                        <button class="btn waves-effect blue darken-3" onclick="valid(this)" type="submit">
                            Ajouter Médicament
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                </div>
                {{ form_end(formMedicament) }}
            </div>
        </div>
        <!-- Modal COMPOSANT-->
        <div class="modal bottom-sheet" id="modalajoutercom">
            <div class="modal-content container">
                <h4 class="center">Ajouter Composant</h4>
                <div class="row">
                    {{ form_start(formComposant) }}
                    <div class="input-field col s9">
                        {{ form_widget(formComposant.NomComposant, {'attr': {'class': 'validate',}}) }}
                        {{ form_label(formComposant.NomComposant) }}
                    </div>
                    <div class="input-field col s3">
                        <button class="btn waves-effect blue darken-3" onclick="valid(this)" type="submit">
                            Ajouter composant
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                    {{ form_end(formComposant) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block _medicaments_composers_entry_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block _medicaments_composers_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col input-field s10">
                <div class="row">
                    <div class="col input-field s6">
                        {{ form_widget(form.composant)}}
                    </div>
                    <div class="col input-field s5">
                        {{ form_widget(form.Quantite, {'attr': {'class': 'required',}})}}
                        {{ form_label(form.Quantite)}}
                    </div>
                </div>
            </div>
            <div class="col input-field s1">
                <button class="btn waves-effect blue darken-3" data-action="delete" data-target="#block_{{id}}">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block _medicaments_composers_widget %}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="row center">
            <button class="btn btn-primary waves-effect blue darken-3" id="add-composant" type="button">Ajouter un Composant<i class="material-icons right">add</i>
            </button>
        </div>
    </div>
{% endblock %}