{% extends 'base.html.twig' %}
{% block title %}Gestion Medicaments{% endblock %}
{% block body %}
    <div class="valign-wrapper">
        <div class="row">
            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">

                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Familles
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">{{nbfamilles}}</span>

                                </h4>
                            </div>
                            <div class="col s5"></div>

                        </div>
                        <div class="row">
                            <a href="{{path('famille')}}">
                                <div class="card-image">
                                    <ul class="collection black-text">
                                        <section class="famille">

                                            {% for famille in familles %}
                                                {% if loop.index0 < 10 %}
                                                    <li class="collection-item">{{famille.NomFamille}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>

                                </div>

                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a href="#modalajouterfam" class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5">

                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">

                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Médicaments
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">{{nbmedicaments}}</span>

                                </h4>
                            </div>
                            <div class="col s5"></div>

                        </div>
                        <div class="row">
                            <a href="{{path('medicament')}}">
                                <div class="card-image">
                                    <ul class="collection black-text">
                                        <section class="medicament">
                                            {% for medicament in medicaments %}
                                                {% if loop.index0 < 10 %}

                                                    <li class="collection-item">{{medicament.NomCommercial}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>

                                </div>

                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a href="#modalajoutermed" class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5">

                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card  z-depth-5 hoverable light-blue darken-3">

                    <div class="card-content  light-blue darken-3">
                        <div class="row">
                            <div class="col s7 valign-wrapper">
                                <h4 class=" light white-text valign-wrapper">Composants
                                    <span class="new badge blue lighten-1 center-align" data-badge-caption="">{{nbcomposants}}</span>

                                </h4>
                            </div>
                            <div class="col s5"></div>

                        </div>
                        <div class="row">
                            <a href="{{path('composant')}}">
                                <div class="card-image">
                                    <ul class="collection black-text">
                                        <section class="composant">
                                            {% for composant in composants %}
                                                {% if loop.index0 < 10 %}

                                                    <li class="collection-item">{{composant.NomComposant}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </section>
                                    </ul>

                                </div>

                            </a>
                        </div>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <a href="#modalajoutercom" class="modal-trigger btn-floating halfway-fab btn-large waves-effect waves-light blue accent-2 z-depth-5">
                                <i class="material-icons">add</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal FAMILLE-->
        <div id="modalajouterfam" class="modal bottom-sheet">
            <div class="modal-content container">
                <h4 class="center">Ajouter Famille</h4>
                <div class="row">
                    {{ form_start(formFamille) }}
                    <div class="input-field col s9">
                        {{ form_widget(formFamille.NomFamille, {'attr': {'class': 'validate',}}) }}
                        {{ form_label(formFamille.NomFamille) }}
                    </div>
                    <div class="input-field col s3">
                        <button type="submit" class="btn waves-effect blue darken-3">
                            Ajouter famille
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                    {{ form_end(formFamille) }}
                </div>

            </div>
        </div>
        <!-- Modal MEDICAMENT-->
        <div id="modalajoutermed" class="modal bottom-sheet" style="height:75%;">
            <div class="modal-content container">
                <h4 class="center">Ajouter Medicament</h4>
                <div class="row">
                    {{ form_start(formMedicament) }}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_widget(formMedicament.NomCommercial) }}
                            {{ form_label(formMedicament.NomCommercial) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_widget(formMedicament.famille,{'attr' : {'class': ' blue darken-3',}}) }}
                            {# {{ form_label(formMedicament.famille, 'Choisir une famille') }} #}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            {{ form_widget(formMedicament.PrixEchantillon) }}
                            {{ form_label(formMedicament.PrixEchantillon) }}</div>
                        <div class="input-field col s4">
                            {{ form_widget(formMedicament.ContreIndication) }}
                            {{ form_label(formMedicament.ContreIndication) }}</div>
                        <div class="input-field col s4">
                            {{ form_widget(formMedicament.Effet) }}
                            {{ form_label(formMedicament.Effet) }}</div>

                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <button type="submit" class="btn waves-effect blue darken-3" style="margin:auto;">
                                Ajouter composant
                                <i class="material-icons right">check</i>
                            </button>
                        </div>
                    </div>

                    {{ form_end(formMedicament) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal COMPOSANT-->
    <div id="modalajoutercom" class="modal bottom-sheet">
        <div class="modal-content container">
            <h4 class="center">Ajouter Composant</h4>
            <div class="row">
                {{ form_start(formComposant) }}
                <div class="input-field col s9">
                    {{ form_widget(formComposant.NomComposant, {'attr': {'class': 'validate',}}) }}
                    {{ form_label(formComposant.NomComposant) }}
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="btn waves-effect blue darken-3">
                        Ajouter composant
                        <i class="material-icons right">check</i>
                    </button>
                </div>
                {{ form_end(formComposant) }}
            </div>

        </div>

    </div>

{% endblock %}