{% extends 'base.html.twig' %}
{% block title %}Composants{% endblock %}
{% block body %}
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idComposant</th>
                <th>Nom Composant</th>
                {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <section class="composants">
                {% for composant in composants %}
                    <tr>
                        <td>
                            {{ composant.id }}</td>
                        <td>
                            {{ composant.NomComposant }}</td>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <td width="150px">
                                <a class="modal-trigger btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Modifer un composant" href="#modalmodifier{{ composant.id}}">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="{{ path('supprimerComposant', {'id': composant.id }) }}" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Supprimer un composant">
                                    <i class="material-icons">clear</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </section>
        </tbody>
    </table>
    <!-- Modal -->
    {% for composant in composants %}
        <div class="modal bottom-sheet" id="modalmodifier{{ composant.id}}">
            <div class="modal-content container">
                <h4 class="center">Modifier Composant</h4>
                <div class="row">
                    <div class="input-field col s9">
                        <input onfocusout="modifierComposant({{ composant.id}});"></input>
                    </div>
                    <div class="input-field col s3">
                        <a class="btn waves-effect blue darken-3" href="{{path('modifierComposant', {'id': 'iddefaut' , 'nomComposant': 'nomCompo' })}}" id="ALED{{composant.id}}">
                            Modifier composant
                            <i class="material-icons right">check</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}