{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idFamille</th>
                <th>Nom Famille</th>
                {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            <section class="familles">
                {% for famille in familles %}
                    <tr>
                        <td>{{ famille.id }}</td>
                        <td>{{ famille.NomFamille }}</td>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <td width="190px">
                                <a href="#modal2" class="modal-trigger btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Afficher un Famille">
                                    <i class="material-icons">
                                        calendar_view_day
                                    </i>
                                </a>
                                <a href="" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Modified un Famille">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="{{ path('supprimerFamille', {'id': famille.id }) }}" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Supprimer un Famille">
                                    <i class="material-icons">clear</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </section>
        </tbody>
    </table>
    <!-- Modal Structure 2-->
    <div id="modal2" class="modal">
        <div class="modal-content container">
            {% set id = 1 %}
            <h4 class="center">Afficher</h4>
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>idMedicament</th>
                        <th>Nom Med</th>
                        <th>Prix</th>
                        <th>Contre Indication</th>
                        <th>Effet</th>
                    </tr>
                </thead>
                <tbody>
                    <section class="medicaments">
                        {% for medicament in medicaments %}
                            {% if medicament.famille.id == id %}
                                <tr>
                                    <td>{{ medicament.id }}</td>
                                    <td>{{ medicament.NomCommercial }}</td>
                                    <td>{{ medicament.PrixEchantillon }}</td>
                                    <td>{{ medicament.ContreIndication }}</td>
                                    <td>{{ medicament.Effet }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </section>
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}