{% extends 'base.html.twig' %}

{% block title %}Medicaments{% endblock %}

{% block body %}

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idMedicament</th>
                <th>Nom Med</th>
                <th>Nom famille</th>
                <th>Prix</th>
                <th>Contre Indication</th>
                <th>Effet</th>
                {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            <section class="medicaments">
                {% for medicament in medicaments %}
                    <tr>
                        <td>{{ medicament.id }}</td>
                        <td>{{ medicament.NomCommercial }}</td>
                        <td>{{ medicament.famille.NomFamille }}</td>
                        <td>{{ medicament.PrixEchantillon }}</td>
                        <td>{{ medicament.ContreIndication }}</td>
                        <td>{{ medicament.Effet }}</td>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <td width="190px">
                                <a href="#modalmed{{ medicament.id }}" class="modal-trigger btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Afficher un Medicament">
                                    <i class="material-icons">
                                        calendar_view_day
                                    </i>
                                </a>
                                <a href="" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Modifier un Medicament">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="{{ path('supprimerMedicament', {'id': medicament.id }) }}" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Supprimer un Medicament">
                                    <i class="material-icons">clear</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </section>
        </tbody>
    </table>

    <section class="medicaments">
        {% for medicament in medicaments %}
            <!-- Modal Structure -->
            <div id="modalmed{{ medicament.id }}" class="modal">
                <div class="modal-content container">
                    <h4 class="center">{{ medicament.NomCommercial }}</h4>
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>idComposant</th>
                                <th>Nom Composant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for composer in medicament.composers %}
                                <section class="composant">
                                    {% for composant in composants %}
                                        {% if composant.id == composer.composant.id %}
                                            <tr>
                                                <td>{{ composant.id }}</td>
                                                <td>{{ composant.NomComposant }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                </section>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>

        {% endfor %}
    </section>

{% endblock %}